
<h1><%= user.username %></h1>
<img src="<%= user.profileImageSRC %>" alt="<%= user.profileImageSRC %>"><br>
<a href="/user/images/new">Add image</a>

<hr>
<h1><%= user.username %>'s images</h1>
<div class="feed">
  <% user.images.forEach((image) => { %>
    <img src="<%= image.src %>" alt="<%= image.caption %>">
    <p><%= image.caption %></p>
  <% }) %>
</div>
<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete Account</button>
</form>
</div>
