<h1>rocks/index</h1>
<h2>this is the feed page</h2>

<% rocks.forEach((rock) => { %>
  <div>
    <a href="/rocks/<%= rock.id %>">
    </a>
      <img src="<%= rock.images %>" alt="<%= rock.name %>">
      <h2><%= rock.name %></h2>
      <h2><%= rock.location %></h2>
      <h2><%= rock.category %></h2>


  </div>

<section>
  <h4>Leave a comment</h4>
  <form method="POST" action="/rocks/<%= rock.id %>/comments">
    <textarea name="content" id="content" placeholder="Comment"></textarea>
    <button class="button">Leave a comment</button>
  </form>
</section>
<% }) %>
