<nav>
  <% include ../partials/navbar %>
</nav>

<div class = "container">
<div class = "row">
<div class ="col col-md-4">
<% rocks.forEach((rock) => { %>
  <a href="/rocks/<%= rock.id %>">
  <h2>Picture Name: <%= rock.name %></h2>
    <img src="<%= rock.imageSRC %>" alt="<%= rock.name %>" class= "img-thumbnail"></a>
  <h2>Category: <%= rock.category %></h2>
  <h3><%= rock.image.caption %></h3>
    <h2>Comments</h2>
    <% rock.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small><br>
      <% }) %>
    <a href="/rocks/<%= rock.id %>"> Leave a comment</a>
<% }) %>
</div>

  <div id ="map" data-rocks="<%= JSON.stringify(rocks)%>"class ="col col-md-8">
  </div>
  </div>
</div>
</div>
